[Unit]
Description=HeatWatch 3 Temperature Data Poller
After=network.target influxdb.service

[Service]
User=heatwatch
WorkingDirectory=/home/heatwatch/HeatWatch3
ExecStart=/home/heatwatch/HeatWatch3/venv/bin/python3 poller.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
